{% extends 'web/base.html' %}
{% load static %}
{% block title %}{{object.title}}{% endblock %}
{% block main %}
<header class="masthead" style="background-image: url('{{article.thumbnail.url}}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{{object.title}}</h1>
                    <span class="subheading">توضیحات</span>
                </div>
            </div>
        </div>
    </div>
</header>
    <center>
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="#">
                            <h1 class="post-title">{{object.title}}</h1>
                            <br>
                            <h3 class="post-subtitle">{{object.descriptions|linebreaks}}</h3>
                        </a>
                        <p class="post-meta">
                            منتشر شده توسط
                            <a href="#!">Start Bootstrap</a>
                            <small>{{object.jpublish}}</small>
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    
                </div>
            </div>
        </div>
    </center>
{% endblock %}
