{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% block head %}تغییر پسورد{% endblock %}
{% block main %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>تغییر پسورد</title>
    </head>
    <body>
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                <h3 class="card-title mb-0 float-left">تغییر پسورد {{user.get_full_name}}</h3>
                </div>
            </div>
                <!-- /.card-header -->
                <!-- form start -->
            <div class="card card-body">
                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            {{form.old_password|as_crispy_field}}
                        </div>
                        <div class="col-6">
                            {{form.new_password1|as_crispy_field}}
                        </div>
                        <div class="col-6">
                            {{form.new_password2|as_crispy_field}}
                        </div>
                    </div>             
            </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                    <button type="submit" class="btn btn-primary">ثبت</button>
                    </div>
                </form>
            <!-- /.card -->
        </div>
    </body>
    </html>
{% endblock %}
