{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% block head %}****************{% endblock %}
{% block main %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ارسال انجامید</title>
    </head>
    <body>
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                  <center>
                    <h3 class="card-title mb-0 float-left"> ما ایمیلی منبی بر تغییر رمز عبور برای شما ارسال نمودیم </h3>
                    <br>
                    <h3 class="card-title mb-0 float-left"> لطفا صندوق پست الکترونیک خود را بررسی نمایید ! </h3>
                    <br><br>

                  </center>
              </div>
              <center>
                <a href="{% url 'account:profile' %}"><button class="btn btn-success">برگشت به بخش پروفایل</button></a>
              </center>
            </div>
              <!-- /.card-header -->
              <!-- form start --> 
  
        </div>
    </body>
    </html>
{% endblock %}
