{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% block head %}تغییر پسورد موفقیت آمیز بوده{% endblock %}
{% block main %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>تغییر پسورد</title>
    </head>
<body>
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title mb-0 float-left">تغییر پسورد </h3>
              </div>
              <div class="limiter">
                <div class="container-login100">
                  <div class="wrap-login100">
                    <center>
                        <br>
                        <h4 class="alert alert-danger">تغییر رمز موفقیت آمیز بود . برای برگشت به صفحه ورود
                            <a href="{% url 'login' %}"><span class="btn btn-primary">کلیک</span></a>
                            کنید
                        </h4>
                    </center>
                  </div>
                </div>
              </div>
              </div>
            </div>
        </div>
    </body>
    </html>
{% endblock %}
